<head>
    <!-- Meta Data -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="profile" href="https://gmpg.org/xfn/11" />

    <title>{{page.title}} &#8211; {{site.description}}</title>
    <meta name="robots" content="max-image-preview:large" />
    <link rel="dns-prefetch" href="https://www.googletagmanager.com/" />
    <link rel="dns-prefetch" href="https://fonts.googleapis.com/" />
    <link rel="alternate" type="application/rss+xml" title="Gervis Bermudez | Blog &raquo; Feed"
        href="{{'feed.xml' | relative_url}}" />
    <link rel="stylesheet" id="arter-fonts-css"
        href="https://fonts.googleapis.com/css?family=Poppins%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CCourier%2BPrime%3A400%2C400italic%2C700%2C700italic&#038;subset=latin%2Clatin-ext"
        type="text/css" media="all" />
    <link rel="stylesheet" id="bootstrap-css"
        href="{{ 'public/themes/arter/assets/css/bootstrap.css%3Fver=6.6.2.css' | relative_url }}" type="text/css"
        media="all" />
    <link rel="stylesheet" id="arter-fontawesome-css"
        href="{{ 'public/themes/arter/assets/fonts/font-awesome/css/font-awesome.css%3Fver=6.6.2.css' | relative_url }}"
        type="text/css" media="all" />
    <link rel="stylesheet" id="arter-swiper-css"
        href="{{ 'public/themes/arter/assets/css/swiper.css%3Fver=6.6.2.css' | relative_url }}" type="text/css"
        media="all" />
    <link rel="stylesheet" id="magnific-popup-css"
        href="{{ 'public/themes/arter/assets/css/magnific-popup.css%3Fver=6.6.2.css' | relative_url }}" type="text/css"
        media="all" />
    <link rel="stylesheet" id="arter-style-css"
        href="{{ 'public/themes/arter/style.css%3Fver=6.6.2.css' | relative_url }}" type="text/css" media="all" />
    <link rel="stylesheet" id="elementor-frontend-css"
        href="{{ 'public/plugins/elementor/assets/css/frontend.min.css%3Fver=3.24.3.css' | relative_url }}"
        type="text/css" media="all" />
    <link rel="stylesheet" id="swiper-css"
        href="{{ 'public/plugins/elementor/assets/lib/swiper/v8/css/swiper.min.css%3Fver=8.4.5.css' | relative_url }}"
        type="text/css" media="all" />
    <link rel="stylesheet" id="e-swiper-css"
        href="{{ 'public/plugins/elementor/assets/css/conditionals/e-swiper.min.css%3Fver=3.24.3.css' | relative_url }}"
        type="text/css" media="all" />
    <link rel="stylesheet" id="elementor-post-45-css"
        href="{{ 'public/uploads/elementor/css/post-45.css%3Fver=1721951380.css' | relative_url }}" type="text/css"
        media="all" />
    <link rel="stylesheet" id="elementor-post-214-css"
        href="{{ 'public/uploads/elementor/css/post-214.css%3Fver=1721951381.css' | relative_url }}" type="text/css"
        media="all" />
    <link rel="stylesheet" id="google-fonts-1-css"
        href="https://fonts.googleapis.com/css?family=Roboto%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CRoboto+Slab%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic&#038;display=swap&#038;ver=6.6.2"
        type="text/css" media="all" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
    <script type="text/javascript" src="{{ 'public/js/jquery/jquery.min.js%3Fver=3.7.1' | relative_url }}"
        id="jquery-core-js"></script>
    <script type="text/javascript" src="{{ 'public/js/jquery/jquery-migrate.min.js%3Fver=3.4.1' | relative_url }}"
        id="jquery-migrate-js"></script>

    <!-- Google tag (gtag.js) snippet added by Site Kit -->

    <!-- Fragmento de código de Google Analytics añadido por Site Kit -->
    <script type="text/javascript" src="https://www.googletagmanager.com/gtag/js?id=GT-WFMP3PT" id="google_gtagjs-js"
        async></script>
    <script type="text/javascript" id="google_gtagjs-js-after">
        /* <![CDATA[ */
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag("set", "linker", { domains: ["gervisbermudez.github.io/site"] });
        gtag("js", new Date());
        gtag("set", "developer_id.dZTNiMT", true);
        gtag("config", "GT-WFMP3PT");
        /* ]]> */
    </script>

    <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
    <link rel="shortlink" href="{{ site.url }}{{ page.url }}" />
    <link rel="stylesheet" href="{{ site.baseurl }}/public/css/styles.css" type="text/css" media="all" />
    <link rel="icon" href="{{ site.baseurl }}/public/uploads/2024/03/Vectorized-Logo-150x150.png" sizes="32x32" />
    <link rel="icon" href="{{ site.baseurl }}/public/uploads/2024/03/Vectorized-Logo-300x300.png" sizes="192x192" />
    <link rel="apple-touch-icon" href="{{ site.baseurl }}/public/uploads/2024/03/Vectorized-Logo-300x300.png" />
    <meta name="msapplication-TileImage"
        content="{{ site.baseurl }}/public/uploads/2024/03/Vectorized-Logo-300x300.png" />
    <meta property="og:locale" content="es_ES" />
    <meta property="og:site_name" content="Gervis Bermudez | Blog" />
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{site.title}}{% endif %}" />
    <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
    <meta property="og:type" content="website" />
    <meta property="og:description"
        content="{% if page.description %}{{ page.description }}{% else %}{{site.description}}{% endif %}" />
    <meta itemprop="name" content="{% if page.title %}{{ page.title }}{% else %}{{site.title}}{% endif %}" />
    <meta itemprop="headline" content="{% if page.title %}{{ page.title }}{% else %}{{site.title}}{% endif %}" />
    <meta itemprop="description"
        content="{% if page.description %}{{ page.description }}{% else %}{{site.description}}{% endif %}" />
    <meta itemprop="author" content="gervisbermudez" />
    <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{site.title}}{% endif %}" />
    <meta name="twitter:url" content="{{ site.url }}{{ page.url }}" />
    <meta name="twitter:description"
        content="{% if page.description %}{{ page.description }}{% else %}{{site.description}}{% endif %}" />
    <meta name="twitter:card" content="summary_large_image" />
</head>