<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="art-a art-pagination">
                {% if page.previous %}
                <a href="{{ page.previous.url | relative_url }}"
                    class="art-link art-color-link art-w-chevron art-left-link">
                    <span>Previous project</span>
                </a>
                {% else %}
                <div class="art-empty-space"></div>
                {% endif %}
                <div class="art-pagination-center">
                    <a class="art-link" href="{{ '/posfolio/index.html' | relative_url }}">All projects</a>
                </div>
                {% if page.next %}
                <a href="{{ page.next.url | relative_url }}" class="art-link art-color-link art-w-chevron">
                    <span>Next project</span>
                </a>
                {% else %}
                <div class="art-empty-space"></div>
                {% endif %}
            </div>
        </div>
    </div>
</div>