<!DOCTYPE html>
<html lang="es" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
{% include head.html %}

<body
  class="home page-template page-template-template-layout-builder page-template-template-layout-builder-php page page-id-214 wp-custom-logo default--scrolling elementor-default elementor-kit-45 elementor-page elementor-page-214">
  <!-- app -->
  <div class="art-app">
    <!-- mobile top bar -->
    <div class="art-mobile-top-bar"></div>

    <!-- app wrapper -->
    <div class="art-app-wrapper">
      <!-- app container end -->
      <div class="art-app-container">
        <!-- info bar -->
        {% include side.html %}
        <!-- info bar end -->
        <!-- menu bar -->
        <div class="art-menu-bar-fix">
          <div class="art-menu-bar">
            <!-- menu bar frame -->
            <div class="art-menu-bar-frame">
              <!-- Woocommerce cart -->
              <!-- menu bar header -->
              <div class="art-menu-bar-header">
                <!-- menu bar button -->
                <a class="art-menu-bar-btn">
                  <!-- icon -->
                  <span></span>
                </a>
                <!-- menu bar button end -->
              </div>
              <!-- menu bar header end -->
              <!-- current page title -->
              <div class="art-current-page"></div>
              <!-- current page title end -->
              <!-- scroll frame -->
              <div class="art-scroll-frame">
                <!-- menu -->
                {% include menu.html %}
                <!-- menu end -->
              </div>
              <!-- scroll frame end -->
            </div>
            <!-- menu bar frame -->
          </div>
        </div>
        <!-- menu bar end -->
        <!-- content -->
        {{content}}
        <!-- content end -->
      </div>
      <!-- app container end -->
    </div>
    <!-- app wrapper end -->
  </div>
  <!-- app end -->
  <!-- scripts -->
  {% include scripts.html %}
  <!-- scripts end -->
</body>

</html>