---
layout: default
---

<div class="art-content">
  <!-- curtain -->
  <div class="art-curtain"></div>

  <!-- top background -->
  {% include top-banner.html %}
  <!-- top background end -->

  <!-- swup container -->
  <div class="transition-fade" id="swup">
    <!-- scroll frame -->
    <div id="scrollbar" class="art-scroll-frame">
      <!-- container -->
      <div class="container-fluid">
        <!-- row -->
        <div class="row p-30-0">
          <!-- col -->
          <div class="col-lg-12">
            <!-- section title -->
            <div class="art-section-title">
              <!-- title frame -->
              <div class="art-title-frame">
                <!-- title -->
                <h1>{{page.title}}</h1>
              </div>
              <!-- title frame end -->
              <!-- right frame -->
              <div class="art-right-frame">
                <div class="art-project-category">
                  {{page.date | date_to_string}}
                </div>
              </div>
              <!-- right frame end -->
            </div>
            <!-- section title end -->
          </div>
          <!-- col end -->

          <!-- col -->
          <div class="col-lg-12">
            <!-- project cover -->
            <div class="art-a art-project-cover">
              <!-- item frame -->
              <a
                data-no-swup
                href="{{page.banner | relative_url}}"
                class="art-portfolio-item-frame art-horizontal"
              >
                <!-- img -->
                <img
                  fetchpriority="high"
                  width="1920"
                  height="1080"
                  src="{{page.banner | relative_url}}"
                  class="attachment-arter_1920xAuto size-arter_1920xAuto wp-post-image"
                  alt="{{page.title}}"
                  decoding="async"
                />
                <!-- zoom icon -->
                <span class="art-item-hover"
                  ><i class="fas fa-expand"></i
                ></span>
              </a>
              <!-- item end -->
            </div>
            <!-- project cover end -->
          </div>
          <!-- col end -->
        </div>
        <!-- row end -->
      </div>
      <!-- container end -->

      <!-- container -->
      <div class="container-fluid">
        <!-- row -->
        <div class="row">
          <!-- col -->
          <div class="col-lg-12">
            <div class="art-a art-card">
              <div
                id="post-8"
                class="post-8 post type-post status-publish format-standard has-post-thumbnail hentry category-web-design"
              >
                <div class="content-box">
                  <div class="single-post-text">
                    <div
                      data-elementor-type="wp-post"
                      data-elementor-id="8"
                      class="elementor elementor-8"
                    >
                      <div
                        class="elementor-element elementor-element-464a6bf9 e-flex e-con-boxed e-con e-parent"
                        data-id="464a6bf9"
                        data-element_type="container"
                      >
                        <div class="e-con-inner">
                          <div
                            class="elementor-element elementor-element-4b7fda14 elementor-widget elementor-widget-text-editor"
                            data-id="4b7fda14"
                            data-element_type="widget"
                            data-widget_type="text-editor.default"
                          >
                            <div class="elementor-widget-container">
                              {{page.content}}
                            </div>
                          </div>
                        </div>
                      </div>
                      {% include contact-banner.html %}
                    </div>
                  </div>
                  <div class="post-text-bottom">
                    <span class="cat-links"
                      >Posted in
                      <a
                        href="../../../../category/web-design/index.html"
                        rel="category tag"
                        >{{page.category}}</a
                      ></span
                    ><span class="byline">
                      by
                      <span class="author vcard"
                        ><a
                          class="url fn n"
                          href="../../../../author/gervisbermudez/index.html"
                          >{{page.author}}</a
                        ></span
                      ></span
                    >
                    <div class="social-share">
                      <span>Share:</span>
                      <a
                        class="share-btn share-btn-facebook"
                        title="Share on Facebook"
                        ><i class="fab fa-facebook"></i></a
                      ><a
                        class="share-btn share-btn-twitter"
                        title="Share on Twitter"
                        ><i class="fab fa-twitter"></i></a
                      ><a
                        class="share-btn share-btn-linkedin"
                        title="Share on Linkedin"
                        ><i class="fab fa-linkedin"></i
                      ></a>
                    </div>
                    <script type="text/javascript">
                      jQuery(document).ready(function ($) {
                        $(".social-share").rrssb({
                          title: "{{page.title}}",
                          url: "{{page.url}}",
                        });
                      });
                    </script>
                  </div>
                </div>
              </div>
              <!-- #post-8 -->
            </div>
          </div>
          <!-- col end -->
        </div>
        <!-- row end -->
      </div>
      <!-- container end -->

      <!-- container -->
      <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="art-a art-pagination">
                    {% if page.previous %}
                        <a href="{{ page.previous.url }}" class="art-link art-color-link art-w-chevron art-left-link">
                            <span>Previous</span>
                        </a>
                    {% else %}
                        <span class="art-link art-color-link art-w-chevron art-left-link disabled">
                            <span>Previous</span>
                        </span>
                    {% endif %}
    
                    <div class="art-pagination-center art-m-hidden">
                        <a class="art-link" href="/blog/">All posts</a>
                    </div>
    
                    {% if page.next %}
                        <a href="{{ page.next.url }}" class="art-link art-color-link art-w-chevron">
                            <span>Next</span>
                        </a>
                    {% else %}
                        <span class="art-link art-color-link art-w-chevron disabled">
                            <span>Next</span>
                        </span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
      <!-- container end -->
      <!-- container -->
      <div class="container-fluid">
        <!-- footer -->
        {% include footer.html %}
        <!-- footer end -->
      </div>
      <!-- container end -->
    </div>
    <!-- scroll frame end -->
  </div>
  <!-- swup container end -->
</div>

